extends layouts/_layout.pug

block variables
	- var activePage = 'blog'
	- var activeGroup = 'blog'

block title
	title Добавить статью - Админка ЦСН

block content
	input#upload(type="file" hidden)
	.app-title
		div
			h1
				i.fa.fa-pencil-alt
				|  Добавить статью

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				a(href='/wtf/blog') Блог
			li.breadcrumb-item
				a(href='#') Добавить статью
	#app
		.row.text-right
			.col-lg-12
				button.btn.btn-success.icon-btn(@click="savePost()" :disabled="!isAllValid" v-if="!loading") 
					i.fa.fa-check
					| Сохранить
				button.btn.btn-success.icon-btn(@click="saveGlobalSettings" disabled v-else) 
					i.fa.fa-circle-notch.fa-spin
					| Сохранить

		.row(style='margin-top: 20px;')
			.col-lg-4
				.tile
					.tile-title
						h4.title Информация
						hr
					.tile-content
						h6 Заголовок статьи
						.input-group.input-group-sm
							input.form-control#title(type='text' v-model="title" maxlength="100")
						br
						h6 Краткое описание
						.input-group.input-group-sm
							textarea.form-control#desc(
								type='text' 
								v-model="description" 
								rows='3')

						br
						h6 Обложка
						.bs-component(v-if="showProgress")
							.progress.mb-2
								.progress-bar.progress-bar-striped.progress-bar-animated(
									role='progressbar', 
									:aria-valuenow="uploadProgress", 
									aria-valuemin='0', 
									aria-valuemax='100', 
									:style='"width: " + uploadProgress + "%"')
						.input-group
							input.form-control-file(type='file' @change="processImage" v-if="b64.length === 0 && !showProgress")
						br
						div(v-if="b64.length !== 0")
							.post-img-container
								img(
									:src="b64" 
									width='100%' 
									height='150' 
									style='border-radius: 5px; object-fit: cover;')
								.post-img-middle(@click="b64 = ''")
									.post-img-text
										i.fa.fa-times.fa-2x(style='color: white;')

			.col-lg-8
				.tile
					.tile-title
						h4.title Содержание
						hr
					.tile-content
						vue-tinymce.form-control(v-model="content" :options="tinymceOptions")

block specific-js
	script(src='https://unpkg.com/axios/dist/axios.min.js')
	script(src='/js/admin-js/plugins/tinymce/tinymce.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-maxlength/1.7.0/bootstrap-maxlength.min.js')
	script(src='/js/admin-js/plugins/bootstrap-datepicker.min.js')
	script(src='/js/admin-js/plugins/bootstrap-datepicker.ru.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js')
	script(src='/js/admin-js/vue/add-post.js')
	script.
		$(document).ready(() => {
			$('#title').maxlength({
				alwaysShow: false,
				threshold: 90,
				separator: '/',
				validate: true
			});
		});