// Partners
section.section.section-lg.bg-default
	.container
		h2.heading-decoration-1: span.heading-inner Партнеры
		// Owl Carousel
		.owl-carousel.owl-carousel-stretch(
		data-items='1'
		data-sm-items='2'
		data-md-items='4'
		data-dots='true'
		data-nav='false'
		data-stage-padding='1'
		data-loop='true'
		data-margin='30'
		data-autoplay='true'
		data-autoplay-speed='2000'
		data-mouse-drag='true')
			span.link-corporate(href='#'): img(src='/upload/partner1.png')
			span.link-corporate(href='#'): img(src='/upload/partner13.png')
			span.link-corporate(href='#'): img(src='/upload/partner14.png')
			span.link-corporate(href='#'): img(src='/upload/partner2.jpg')
			span.link-corporate(href='#'): img(src='/upload/partner3.jpg')
			span.link-corporate(href='#'): img(src='/upload/partner5.jpg')
			span.link-corporate(href='#'): img(src='/upload/partner4.jpg')
			span.link-corporate(href='#'): img(src='/upload/partner6.jpg')
			span.link-corporate(href='#'): img(src='/upload/partner7.png')
			span.link-corporate(href='#'): img(src='/upload/partner8.jpg')
			span.link-corporate(href='#'): img(src='/upload/partner9.png')
			span.link-corporate(href='#'): img(src='/upload/partner10.png')
			span.link-corporate(href='#'): img(src='/upload/partner11.png')
			span.link-corporate(href='#'): img(src='/upload/partner12.jpg')
