extends  ../_skeleton

//- Includes
include ../components/_ui-header-classic
include ../components/_ui-box-minimal
include ../components/_ui-thumbnail-indigo

block variables
  - var activeCategory = 'home'
  - var pageName = 'Центр сделок с недвижимостью на Грибоедова 6'

block page
  include ../sections/_header-classic
  //- // Page Header
  //- header.section.page-header
  //-   +header-classic({
  //-     customButton: true
  //-   })
  //-     a.button.button-sm.button-primary.call-me-popup(href='#call-me-popup') Обратный звонок

  //- News Popup
    #news-popup.text-center.mfp-hide.text-white
      div(style="color: white;")
        h3(style="color: white;") Уважаемые клиенты!
        br
        span По информации, поступившей от Управляющей компании Офисного дома на Итальянской, 2
        br 
        span 30 августа 2019 года, в связи с плановыми работами "Ленэнерго", будет прекращена подача электроэнергии, с 10.00 до 17.00.
        br
        span Есть вероятность, что работы будут завершены раньше, поэтому убедительно просим позвонить нам перед посещением Центра по телефону: 401-63-54.
        br
        span Приносим извинения за доставленные неудобства и благодарим за понимание.
        br
        span С уважением, Наталья Коханенко, Руководитель Центра
        br
        br
        img#popup-img(src="/images/centr-sdelok/popup2808.png")

      //- img(src="/images/centr-sdelok/new-enter.jpeg" style="border-radius: 5px;")
  //- ВАЖНАЯ ИНФОРМАЦИЯ!!!
  //- section.section-sm.text-center(style="padding: 10px; color: red;") 
  //-   strong Уважаемые клиенты!
  //-   br
  //-   strong Мы перехали. Вход в Центр сделок осуществляется с Итальянской улицы (вход в БЦ "Офисный дом на Итальянской, 2")
  //-   br
  //-   strong Нотариальная контора работает на прежнем месте, на этаже выше (бывший офис АН "Мой Город")
  //-   br
  // FScreen
  section.section.jumbotron-2.bg-accent.bg-primary-lighten
    .container
      .jumbotron-2-inner
        //- .owl-carousel.wow(
          data-nav='false'
          data-loop='true'
          data-autoplay='true'
          data-autoplay-speed='3500'
          data-animation-in='fadeIn'
          data-animation-out='fadeOut')
          div(style="background-color: black; text-align: center;") Центр сделок с недвижимостью - площадка, где Вы можете провести расчеты по  сделке любой сложности! И далее наши услуги в инфографике:
          div(style="background-color: black; text-align: center;") Слайд 2
          div(style="background-color: black; text-align: center;") Слайд 3
          div(style="background-color: black; text-align: center;") Слайд 4

        .jumbotron-2-main
          p.heading-7.wow.fadeIn Центр сделок с недвижимостью
          h2.wow.fadeIn(data-wow-delay='.05s') Проведи расчеты по сделкам с недвижимостью
          ul.list-marked-3
            li.wow.fadeIn(data-wow-delay='.1s') Быстро
            li.wow.fadeIn(data-wow-delay='.15s') Безопасно
            li.wow.fadeIn(data-wow-delay='.2s') За 1 день
            li.wow.fadeIn(data-wow-delay='.25s') «Под ключ»
          a.link-2.wow.fadeIn(data-wow-delay='.25s' href='#section-1' data-waypoint-to='#section-1') Подробнее...
        .jumbotron-2-slider
          // Owl Carousel
          .owl-carousel.wow.fadeIn(
          data-items='1'
          data-dots='true'
          data-nav='false'
          data-stage-padding='0'
          data-loop='true'
          data-margin='0'
          data-autoplay='true'
          data-autoplay-speed='3500'
          data-animation-in='fadeIn'
          data-animation-out='fadeOut'
          data-mouse-drag='false')
            span.jumbotron-2-slider-link(style='background-image: url(images/centr-sdelok/slider/entry.jpg);')
            span.jumbotron-2-slider-link(style='background-image: url(images/centr-sdelok/slider/2-2.jpg);')
            //- a.jumbotron-2-slider-link(style='background-image: url(images/centr-sdelok/main-top4.jpg);')

  // Shortly About Us
  section.section.section-lg.bg-default#section-1(style="padding-top: 10px;")
    .container
      // Box Info
      article.box-info.box-info-1
        .box-info-aside
          .row.row-30.row-flex
            .col-sm-6.wow.fadeIn
              +box-minimal({
                icon: 'fl-bigmug-line-circular220',
                title: 'Уникальный',
                text: 'Единственный в городе сейфинг, имеющий электронный контроль доступа, оснащенный ячейками, устойчивыми ко взлому, находящимися на укрепленной территории'
              })
            .col-sm-6.wow.fadeIn(data-wow-delay='.05s')
              +box-minimal({
                icon: 'fl-bigmug-line-wallet26',
                title: 'Универсальный',
                text: 'Договор аренды сейфовой ячейки для индивидуального пользования; Договор аренды сейфовой ячейки с услугой "Эксперт-сейфинг"; Договор аренды сейфовой ячейки для коллективного пользования ( с выбытием и без выбытия).'
              })
            .col-sm-6.wow.fadeIn
              +box-minimal({
                icon: 'fl-bigmug-line-compass80',
                title: 'Удобный',
                text: 'Расположен в самом центре города, 3 минуты от метро Невский проспект/ Гостиный двор'
              })
            .col-sm-6.wow.fadeIn(data-wow-delay='.05s')
              +box-minimal({
                icon: 'fl-bigmug-line-favourites5',
                title: 'Удивительный',
                text: 'Нет ограничений по количеству Арендаторов, закладываемых пакетов, условий доступа к сейфингу'
              })
        .box-info-main.context-dark.bg-primary-lighten: .box-info-main-inner
          h2.wow.fadeIn(data-wow-delay='.05s') Мы НЕ агентство недвижимости
          .divider-small.wow.fadeIn(data-wow-delay='.1s')
          p.wow.fadeIn(data-wow-delay='.15s') Мы  - площадка для проведения взаиморасчетов в наличной форме (аренда ячейки в сейфинге с электронным доступом, собственная продуктовая линейка).
          ul.list-marked-1.cols-2
            li.wow.fadeIn(data-wow-delay='.2s') Просторные переговорные комнаты
            li.wow.fadeIn(data-wow-delay='.25s') Персональный менеджер
            li.wow.fadeIn(data-wow-delay='.3s') Сейфовое хранилище
            //- li.wow.fadeIn(data-wow-delay='.35s') Безналичные взаиморасчеты
            li.wow.fadeIn(data-wow-delay='.4s') Пересчет и проверка подлинности банкнот
            li.wow.fadeIn(data-wow-delay='.45s') Удаленная подготовка документов
          center 
            a.call-me-popup.button.button-secondary.mt-lg-60.wow.fadeIn(data-wow-delay='.4s' href='#call-me-popup') Записаться на сделку

  // Counters
  +parallax({
    img: 'images/centr-sdelok/main-top1.jpg'
  }).section-lg.context-dark.text-center.bg-darkblue-2_1
    .container
      .row.row-30
        .col-6.col-md-3.wow.fadeIn(data-wow-delay='.1s')
          // Box counter
          article.box-counter
            .box-counter-main
              .counter 10
              span &nbsp;000+
            p.box-counter-title лояльных клиентов

        .col-6.col-md-3.wow.fadeIn
          // Box counter
          article.box-counter
            .box-counter-main
              .counter 1000
              span +
            p.box-counter-title сделок в месяц

        .col-6.col-md-3.wow.fadeIn(data-wow-delay='.05s')
          // Box counter
          article.box-counter
            .box-counter-main
              span до&nbsp;
              .counter 40
            p.box-counter-title человек на сделке

        .col-6.col-md-3.wow.fadeIn(data-wow-delay='.1s')
          // Box counter
          article.box-counter
            .box-counter-main
              .counter 9
              span + 
            p.box-counter-title объектов в цепочке <br>за 1 день


  // FAQ
  section.section.section-md.bg-default
    .container
      h2.heading-decoration-1: span.heading-inner(style="margin-bottom: 50px;") Часто задаваемые вопросы
      include ../includes/_box-info

  // Gallery
  section.section.section-md.bg-gray-12
    .container.isotope-wrap
      h2.heading-decoration-1: span.heading-inner Наш Центр
      .isotope.row.row-50
        //- .col-sm-6.col-md-4.isotope-item
          span.product-modern
            .product-modern-media
              figure.product-modern-figure: img(src='images/centr-sdelok/slider/1.jpg').product-modern-image
              .product-modern-overlay
            //- .product-modern-caption
              h5.product-modern-title 401 Biscayne Boulevard, Miami
        .col-sm-6.col-md-4.isotope-item
          span.product-modern
            .product-modern-media
              figure.product-modern-figure: img(src='images/centr-sdelok/slider/2-6.jpg').product-modern-image
              .product-modern-overlay
            //- .product-modern-caption
              h5.product-modern-title 401 Biscayne Boulevard, Miami
        .col-sm-6.col-md-4.isotope-item
          span.product-modern
            .product-modern-media
              figure.product-modern-figure: img(src='images/centr-sdelok/slider/2-5.jpg').product-modern-image
              .product-modern-overlay
            //- .product-modern-caption
              h5.product-modern-title 401 Biscayne Boulevard, Miami
        .col-sm-6.col-md-4.isotope-item
          span.product-modern
            .product-modern-media
              figure.product-modern-figure: img(src='images/centr-sdelok/slider/2-4.jpg').product-modern-image
              .product-modern-overlay
            //- .product-modern-caption
              h5.product-modern-title 401 Biscayne Boulevard, Miami
        
        
        //- .col-sm-6.col-md-4.isotope-item
        //-   span.product-modern
        //-     .product-modern-media
        //-       figure.product-modern-figure: img(src='images/centr-sdelok/slider/2-4.jpg').product-modern-image
        //-       .product-modern-overlay
        //-     //- .product-modern-caption
        //-       h5.product-modern-title 401 Biscayne Boulevard, Miami
        //- //- .col-sm-6.col-md-4.isotope-item
        //-   span.product-modern
        //-     .product-modern-media
        //-       figure.product-modern-figure: img(src='images/centr-sdelok/slider/4.jpg').product-modern-image
        //-       .product-modern-overlay
        //-     //- .product-modern-caption
        //-       h5.product-modern-title 401 Biscayne Boulevard, Miami
        //- .col-sm-6.col-md-4.isotope-item
        //-   span.product-modern
        //-     .product-modern-media
        //-       figure.product-modern-figure: img(src='images/centr-sdelok/slider/2-5.jpg').product-modern-image
        //-       .product-modern-overlay
        //-     //- .product-modern-caption
        //-       h5.product-modern-title 401 Biscayne Boulevard, Miami
        //- .col-sm-6.col-md-4.isotope-item
        //-   span.product-modern
        //-     .product-modern-media
        //-       figure.product-modern-figure: img(src='images/centr-sdelok/slider/2-6.jpg').product-modern-image
        //-       .product-modern-overlay
            //- .product-modern-caption
              h5.product-modern-title 401 Biscayne Boulevard, Miami

  include ../sections/_section-partners
  
  // Page Footer
  include ../sections/_footer-classic
  //- include ../sections/_footer-modern

  script.
    document.addEventListener('DOMContentLoaded', () => {
      $.magnificPopup.open({
        items: {
          src: $("#news-popup"),
          type: 'inline'
        }
      });
    });